<html>
	<head>
		<title>Research Article Classifier</title>
	</head>
	<body>
	<center>
		<h1>Research Article Classifier</h1>
		<a href="/results/?serviceName=TestingKNN"><button>Test KNN</button></a>
		<a href="/results/?serviceName=TestingBayesian"><button>Test Bayesian</button></a>
		<a href="/results/?serviceName=Training"><button>Train</button></a>
		<a href="/results/?serviceName=Running"><button>Run</button></a>
		<br>
		<br>
		<a href="/generateText/"><button>See Training Data</button></a>
	</center>
	</body>
</html>