{% extends "base.html" %}

{% block title %}Research Article Classifier{% endblock %}
{% block css %}
	<style type="text/css">
		.mylabel{
			color: #777;
		}
	</style>
{% endblock %}
{% block content %}
	<div class="container">
	  <h2>We are applying {{algoName}}</h2>
	  <form role="form" action="/{{algoName}}/">
	    <div class="form-group">
	      <label for="email"><a href="/uploadFile/">Upload Your File Here</a></label>
	    </div>
	    <div class="form-group">	
		{% if algoName == 'KNN' %}
			<input type="text" class="form-control" name="K" placeholder="Enter Value Of K">
		{% endif %}
	    </div>
	    <button type="submit" class="btn btn-default">|-> SEE RESULTS <-|</button>
	  </form>
	</div>
{% endblock %}
